<?xml version="1.0"?>
<launch>
  <arg name="use_path_with_velocity" default="true" />
  <arg name="vel" default="0.5" />

  <include file="$(find neonavigation_launch)/launch/navigate.launch">
    <arg name="simulate" value="true" />
    <arg name="map_file" value="$(find neonavigation_launch)/map/demo_map.yaml" />
    <arg name="use_path_with_velocity" value="true" />
    <arg name="vel" value="$(arg vel)" />
  </include>

  <node pkg="map_server" type="map_server" name="map_server_local" args="$(find neonavigation_launch)/map/demo_map_local.yaml">
    <remap from="map" to="map_with_local_objects" />
  </node>
  <node pkg="costmap_cspace" type="largemap_to_map" name="largemap_to_map">
    <remap from="map" to="map_with_local_objects" />
    <remap from="map_local" to="overlay1" />
    <param name="width" value="60" />
    <param name="hz" value="1.5" />
    <param name="round_local_map" value="true" />
    <param name="simulate_occlusion" value="true" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find neonavigation_launch)/config/visualization.rviz" respawn="true" />
</launch>

