<launch>
	<arg name="map_file" />
	<arg name="use_map_server" default="true" />
	<arg name="simulate" default="false" />
	<arg name="sim_robot_x" default="0.0" />
	<arg name="sim_robot_y" default="0.0" />
	<arg name="sim_robot_yaw" default="0.0" />
	<arg name="cmd_vel_output" default="/cmd_vel" />
	<arg name="vel" default="0.5" />
	<arg name="acc" default="0.3" />
	<arg name="ang_vel" default="0.6" />
	<arg name="ang_acc" default="1.0" />

	<arg name="linear_expand" default="0.08" />
	<arg name="linear_spread" default="0.3" />
	<arg name="output_info" default="screen" />

	<arg name="goal_topic" default="/move_base_simple/goal" />

	<node pkg="costmap" type="costmap_3d" name="costmap_3d" output="$(arg output_info)">
		<!--rosparam param="footprint" if="$(arg simulate)">[[0.12, -0.2], [0.12, 0.2], [-0.35, 0.2], [-0.35, -0.2]]</rosparam-->
		<rosparam param="footprint" if="$(arg simulate)">[[0.35, -0.22], [0.35, 0.22], [-0.35, 0.22], [-0.35, -0.22]]</rosparam>
		<param name="ang_resolution" value="16"/>
		<param name="linear_expand" value="0.08"/>
		<param name="linear_spread" value="0.3"/>
	</node>
	<node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" if="$(arg use_map_server)" />
	
	<node pkg="planner" type="planner_3d" name="planner_3d" output="$(arg output_info)">
		<remap from="~/goal" to="$(arg goal_topic)" />
		<remap from="~/costmap" to="/costmap_3d/costmap" />
		<remap from="~/costmap_update" to="/costmap_3d/costmap_update" />
	</node>

	<node pkg="trajectory_tracker" type="trajectory_tracker" name="spur">
		<remap from="~/cmd_vel" to="$(arg cmd_vel_output)" />
		<param name="max_vel" value="$(arg vel)" />
		<param name="max_acc" value="$(arg acc)" />
		<param name="max_angvel" value="$(arg ang_vel)" />
		<param name="max_angacc" value="$(arg ang_acc)" />
		
		<param name="curv_forward" value="0.4" />
		<param name="look_forward" value="0.1" />
		<param name="k_dist" value="4.5" />
		<param name="k_ang" value="4.0" />
		<param name="k_avel" value="4.0" />
		<param name="stop_tolerance_dist" value="0.05" />
		
		<param name="path" value="/planner_3d/path" />
		<param name="path_step" value="1" type="int" />

		<param name="limit_vel_by_avel" value="true" type="bool" />
		
		<param name="hz" value="30.0" />
		<param name="dist_lim" value="0.5" />

		<param name="distance_angle_factor" value="0.2" />
		<param name="no_position_control_dist" value="0.1" />
		<param name="rotate_ang" value="0.4" />
	</node>

	<node pkg="tf" type="static_transform_publisher" name="stf1" args="$(arg sim_robot_x) $(arg sim_robot_y) 0 $(arg sim_robot_yaw) 0 0 map base_link 50" if="$(arg simulate)" />
</launch>

