<launch>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find trajectory_tracker)/config/move_base_params.yaml" command="load" />
		<rosparam file="$(find trajectory_tracker)/config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find trajectory_tracker)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find trajectory_tracker)/config/navfn_params.yaml" command="load" />
		<remap from="/cmd_vel" to="/trajectory_tracker/cmd_vel" />
	</node>
	<node pkg="trajectory_tracker" type="trajectory_tracker" name="spur" output="screen">
		<remap from="~/cmd_vel" to="/limiter/cmd_vel" />
		<param name="path" value="/move_base/GridPlannerROS/local_plan" type="string" />
		<param name="path_step" value="1" type="int" />

		<param name="max_vel" value="0.4" type="double" />
		<param name="max_angvel" value="0.6" type="double" />
		<param name="max_acc" value="0.3" type="double" />
		<param name="max_angacc" value="1" type="double" />
		<param name="hz" value="20" type="double" />

		<param name="curv_forward" value="0.5" type="double" />
		<param name="look_forward" value="0.3" type="double" />
		<param name="k_dist" value="4" type="double" />
		<param name="k_ang" value="4" type="double" />
		<param name="k_avel" value="5" type="double" />
		<param name="dist_lim" value="0.5" type="double" />
		<param name="rotate_ang" value="0.5" type="double" />
		<param name="distance_angle_factor" value="0.0" type="double" />

		<param name="limit_vel_by_avel" value="true" type="bool" />
	</node>
</launch>
